In [4]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import requests
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r'C:\Users\s.rajendra.hukkeri\Downloads\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.naukri.com/'
driver.get(url)

search = driver.find_element_by_class_name('suggestor-input')
search.send_keys("Data Scientist")
time.sleep(2)
loc = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
loc.send_keys('Bangalore')

driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()

In [5]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

titles=[]
for i in title:
    titles.append(i.text)
titles
len(title)

20

In [6]:
company= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

list_company=[]
for j in company:
    list_company.append(j.text)
list_company
len(company)

20

In [7]:
yrs=[]
year = driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
for k in year:
    yrs.append(k.text)
yrs
len(year)

20

In [8]:
location=[]
loca = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for l in loca:
    location.append(l.text)
location
len(location)

20

In [9]:
data= pd.DataFrame()
data['Job_Title']=titles
data['Job_Location']=location
data['Years_Of_Exp']=yrs
data['Company']=list_company
data.head(10)

,Job_Title,Job_Location,Years_Of_Exp,Company
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,3-5 Yrs,Dell
1,Analyst / Data Scientist,Bangalore/Bengaluru,2-5 Yrs,MilliporeSigma
2,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,5-10 Yrs,IBM
3,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,2-5 Yrs,IBM
4,Senior Data Scientist,Bangalore/Bengaluru,3-8 Yrs,Siemens
5,Senior Data Scientist,Bangalore/Bengaluru,3-5 Yrs,Sabre
6,Senior Data Scientist (Fintech),Bangalore/Bengaluru,4-6 Yrs,NIRA
7,Senior Data Scientist,"Chennai, Bangalore/Bengaluru",6-11 Yrs,Shell
8,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",5-10 Yrs,Wipro
9,Data Scientist - Lead / Architect - Looking Fo...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",5-10 Yrs,Wipro