In [11]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import requests
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r'C:\Users\s.rajendra.hukkeri\Downloads\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome('chromedriver.exe')
url = 'https://www.naukri.com/'
driver.get(url)

search = driver.find_element_by_class_name('suggestor-input')
search.send_keys("Data Scientist")
time.sleep(2)

driver.find_element_by_xpath('//div[@class="qsbSubmit"]').click()

In [12]:
a=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
a.click()
time.sleep(1)

In [13]:

b=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
b.click()

In [14]:
title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

titles=[]
for i in title:
    titles.append(i.text)
titles
len(title)

20

In [15]:
company= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

list_company=[]
for j in company:
    list_company.append(j.text)
list_company
len(company)

20

In [16]:
yrs=[]
year = driver.find_elements_by_xpath('//span[contains(@title,"Yrs")]')
for k in year:
    yrs.append(k.text)
yrs
len(year)

20

In [17]:
location=[]
loca = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
for l in loca:
    location.append(l.text)
location
len(location)

20

In [18]:
data= pd.DataFrame()
data['Job_Title']=titles
data['Job_Location']=location
data['Years_Of_Exp']=yrs
data['Company']=list_company
data.head(10)

,Job_Title,Job_Location,Years_Of_Exp,Company
0,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-5 Yrs,NAVIKENZ INDIA PRIVATE LIMITED
1,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",3-8 Yrs,PROKXIMITY
2,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",1-6 Yrs,Alp Consulting Limited
3,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,2-7 Yrs,Vision Beyond Resources India Private Limited
4,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Microsoft
5,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs,Microsoft
6,Data Scientist (freelance),"New Delhi, Delhi",2-7 Yrs,2Coms
7,Data Scientist,New Delhi,3-8 Yrs,CHANGE LEADERS CONSULTING
8,Data Scientist,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)",1-6 Yrs,DECISION POINT PRIVATE LIMITED
9,Data Scientist,"Gurgaon, Bengaluru",3-7 Yrs,BlackBuck