### AmbitionBox

In [9]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import requests
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r'C:\Users\s.rajendra.hukkeri\Downloads\chromedriver_win32\chromedriver.exe')
url= 'https://www.ambitionbox.com/'
driver.get(url)
jobsearch = driver.find_element_by_xpath('//a[@class="link jobs"]').click()
time.sleep(2)
search = driver.find_element_by_xpath('//input[@title="Enter Designation, Company or a Skill"]')
search.send_keys("Data Scientist")
driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]').click()
time.sleep(2)

In [10]:
# clicking dropdown for location
locationsearch = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]')
locationsearch.click()

In [11]:
#send value for location as Noida
search1 = driver.find_element_by_xpath('//input[@placeholder="Search locations"]')
search1.send_keys("Noida")

In [12]:
#select "Noida" location
search2 = driver.find_element_by_xpath('//label[@for="location_Noida"]')
search2.click()

In [13]:
# scraping Company names
company_name=[]
company = driver.find_elements_by_xpath('//a[@class="title noclick"]')
for i in company:
    company_name.append(i.text)
company_name

['Data Scientist',
 'EY GDS - Assistant Director - Data Science - AI/ML (15-20 yrs)',
 'Opportunity | Tavant India',
 'Looking For Senior Data Scientist For Denave',
 'Lead Assistant Manager',
 'CogniTensor - Data Scientist (1-2 yrs)',
 'Data Scientist | Data Engineer | Machine Learning',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Manager Data Scientist',
 'Data Scientist']

In [39]:
import re 
dates=[]
date = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for j in date:
    dates.append(j.text)
dates
dates_list=[]

def Filter(dates, substr):
    return [str for str in dates if
             any(sub in str for sub in substr)]

substr = ['ago']
dates_list =Filter(dates, substr)
dates_list

['17d ago',
 '1mon ago',
 '12d ago',
 '12d ago',
 '25d ago',
 '6d ago',
 '1mon ago',
 '10d ago',
 '1mon ago',
 '25d ago']

In [17]:
rating=[]
rate = driver.find_elements_by_xpath('//span[@class="body-small"]')
for k in rate:
    rating.append(k.text)
rating

['3.9', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0', '3.7']

In [40]:
data = pd.DataFrame()
data['Company_Name']=company_name
data['Job Posted On']=dates_list
data['Rating']=rating
data

                                        Company_Name Job Posted On Rating
0                                     Data Scientist       17d ago    3.9
1  EY GDS - Assistant Director - Data Science - A...      1mon ago    3.7
2                         Opportunity | Tavant India       12d ago    4.0
3       Looking For Senior Data Scientist For Denave       12d ago    4.0
4                             Lead Assistant Manager       25d ago    3.8
5             CogniTensor - Data Scientist (1-2 yrs)        6d ago    3.8
6  Data Scientist | Data Engineer | Machine Learning      1mon ago    4.2
7       Data Scientist - Machine Learning (5-14 yrs)       10d ago    4.1
8                             Manager Data Scientist      1mon ago    4.0
9                                     Data Scientist       25d ago    3.7